<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitchen_beta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kitchen_beta">
        <activity
            android:name=".check"
            android:exported="false" />
        <activity
            android:name=".Check"
            android:exported="false" />
        <activity
            android:name=".show_meals"
            android:exported="false" />
        <activity
            android:name=".credits"
            android:exported="false" />
        <activity
            android:name=".erase"
            android:exported="false" />
        <activity
            android:name=".addMeal"
            android:exported="false" />
        <activity
            android:name=".waiter_manager"
            android:exported="false" />
        <activity
            android:name=".kitchen_manager"
            android:exported="false" />
        <activity
            android:name=".waiter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>